/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3d4852;
}

::-webkit-scrollbar-thumb {
  background: #f2d024;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffed4a;
}
